easydict==1.10
gdown==5.2.0
jpeg4py==0.1.4
lmdb==1.4.0
matplotlib==3.7.5
numpy==1.24.4
opencv_python==4.7.0.68
pandas==1.5.2
Pillow==9.4.0
pycocotools==2.0.6
PyYAML==6.0
Shapely==2.0.5
six==1.16.0
tensorboardX==2.5.1
tikzplotlib==0.10.1
timm==0.9.10
torch==1.10.0+cu102
torchvision==0.10.0+cu102
tqdm==4.64.1
typing_extensions==4.12.2
visdom==0.2.3
vot==1
wandb==0.13.9
